{{define "header"}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{.Title}}</title>
    </head>
    <body>
        <div style="width: 100%; background: #431c1c; color: #fff; padding: 10px; font-size: 18px">
            Belajar App - Layout With Define Name
        </div>
{{end}}
